.webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.Swrapper {
    width: 100%;
    height: 400px;
    background-color: rgb(238, 240, 242);
    margin-top: 70px;
}


.Sswiper {
    display: flex;
    width: 90%;
    margin-left: 100px;
}

.Sswiper-slider {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Simg {
    width: 260px;
    height: 220px;
    overflow: clip;
    border-radius: 8px 8px 0px 0px;
}

.Scard-style {
    border-radius: 8px;
    width: 260px;
    height: 260px;
    background-color: white;
}

.Sspeciality-name {
    padding: 13px 16px 11px;
    /*  width: calc(100% - 32px); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    background-color: white;
    margin: -4px 0px 0px;
    color: rgb(102, 102, 102);
    border-radius: 0px 0px 8px 8px;
    height: auto;
}

.Sheader {
    max-width: 1170px;
    font-size: 32px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    direction: ltr;
    width: calc(100% - 30px) !important;
    color: rgb(102, 102, 102);
    margin-bottom: 5px;
    margin-left: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

.swiper-button-next {
    padding-left: 20px;
}

.swiper-button-prev {
    padding-right: 20px;

}